{% extends "layout.html" %}
{% block title %}Lisää harjoitustehtävä{% endblock %}
{% block content %}

<body>
    <form action="/add_exercise_text/{{ course_id }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <div class="container">
            <h4>Anna tehtävälle otsikko:</h4>
            <p>
                <label for="headline">Otsikko:</label>
            </p>
            <p>
                <input type="text" id="headline" name="headline" maxlength="20" value="{{ headline }}">
            </p>
            <h4>Lisää kysymys ja oikea vastaus:</h4>
            <p>
                <label for="question">Tehtäväkysymys:</label>
            </p>
            <p>
                <textarea type="text" id="question" name="question" maxlength="500" rows="5"
                    cols="50">{{ question }}</textarea>
            </p>
            <p>
                <label for="answer">Oikea vastaus:</label>
            </p>
            <p>
                <input type="text" id="answer" name="answer" maxlength="40" value="{{ answer }}">
            </p>
            <p class="button">
                <button type="submit">Lisää tehtävä</button>
            </p>
        </div>
        <div class="container">
            <div class="extraLinkBar">
                <a href="/choose_exercise_type/{{ course_id }}">Takaisin</a>
            </div>
        </div>
    </form>
</body>

{% endblock %}