{% extends "layout.html" %}
{% block content %}

<form action="/add_exercise_mchoice/{{ course_id }}" method="POST">
    <body>
        <div class="subbar">
            <div class="subheadlineBox">
                <h2>Lisää harjoitustehtävä</h2>
            </div>
        </div>
        <div class="container">
            <div class="errorbox">
                {% for message in errorMessages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            <p>
                Anna tehtävälle otsikko:
            </p>
            <p>
                <label for="headline">Otsikko:</label>
                <input type="text" id="headline" name="headline" value="{{ defaultHeadline}}">
            </p>
            <p>
                Lisää kysymys, oikea vastaus ja vastausvaihtoehdot. Kirjoita vastaukseksi oikean vastauskohdan kirjain.
            </p>
            <p>
                <label for="question">Tehtäväkysymys:</label>
                <input type="text" id="question" name="question" value="{{ defaultQuestion }}">
            </p>
            <p>
                <label for="answer">Oikea vastaus:</label>
                <input type="text" id="answer" name="answer" value="{{ defaultAnswer }}">
            </p>
            <p>
                <label for="option_a">a:</label>
                <input type="text" id="option_a" name="option_a" value="{{ defaultA }}">
            </p>
            <p>
                <label for="option_b">b:</label>
                <input type="text" id="option_b" name="option_b" value="{{ defaultB }}">
            </p>
            <p>
                <label for="option_c">c:</label>
                <input type="text" id="option_c" name="option_c" value="{{ defaultC }}">
            </p>
            <p class="button">
                <button type="submit">Lisää tehtävä</button>
            </p>
        </div>
        <div class="extraLinkBar">
            <a href="/choose_exercise_type/{{ course_id }}">Takaisin</a>
        </div>
    </body>
</form>

{% endblock %}