{% extends "layout.html" %}
{% block title %}Lisää kurssi{% endblock %}
{% block content %}

<body>
    <form action="/add_course" method="POST">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <div class="container">
            <p>Lisää uusi kurssi järjestelmään:</p>
            <p>
                <label for="course_name">Kurssin nimi:</label>
            </p>
            <p>
                <input type="text" id="course_name" name="course_name" maxlength="100" value="{{ name }}">
            </p>
            <p>
                <label for="description">Kurssikuvaus:</label>
            </p>
            <p>
                <textarea id="description" name="description" rows="10" cols="50"
                    maxlength="2000">{{ description }}</textarea>
            </p>
            <p class="button">
                <button type="submit">Lisää kurssi</button>
            </p>
        </div>
        <div class="container">
            <div class="extraLinkBar">
                <a href="/homepage">Takaisin kotisivulle</a>
            </div>
        </div>
    </form>
</body>

{% endblock %}