{% extends "layout.html" %}
{% block content %}

<body>
    <div class="subbar">
        <div class="subheadlineBox">
            <h2>{{ course_name }}</h2>
        </div>
    </div>
    <div class="container">
        <h3>Kurssikuvaus:</h3>
        <p>{{ description }}</p>
        <h3>Kurssin opettaja:</h3>
        <p>{{ teacher }}</p>
    </div>
    <br></br>
    <div class="extraLinkBar">
            {% if session.user_role == 'student' %}
            {% if not enrolled %}
            <a href="/enroll/{{ id }}">Ilmoittaudu kurssille</a>
            {% else %}
            <p>Olet ilmoittautunut kurssille.</p>
            {% endif %}
            {% endif %}

            {% if owner %}
            <a href="/choose_exercise_type/{{ id }}">Lisää kurssille harjoitustehtäviä</a>
            <a href="/update_course/{{ id }}">Muokkaa kurssin tietoja</a>
            <a href="/delete_course/{{ id }}">Poista kurssi</a>
        {% endif %}
    </div>
    <div class="container">
        <h3>Tehtävät:</h3>
        {% for exercise in exercise_list %}
        <a href="/show_exercise/{{ exercise.id }}/{{ exercise.type }}/{{ exercise.headline }}">{{ exercise.headline }}</p>
        {% endfor %}
    </div>
</body>

{% endblock %}