{% extends "layout.html" %}
{% block title %}Kurssi-ilmoittautuminen{% endblock %}
{% block content %}
<form action="/enroll/{{ course_id }}" method="POST">
    <body>
        <div class="container">
            <p>Ilmoittaudu kurssille {{ course_name }}?</p>
            <p class="button">
                <button type="submit">Ilmoittaudu</button>
            </p>
        </div>
        <div class="container">
            <a href="/course_page/{{ course_id }}">Takaisin kurssisivulle</a>
        </div>
    </body>
</form>

{% endblock %}