{% extends "layout.html" %}
{% block title %}Kurssi-ilmoittautuminen{% endblock %}
{% block content %}

<body>
    <form action="/enroll/{{ course_id }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

        <div class="container">
            <p>Ilmoittaudu kurssille {{ course_name }}?</p>
            <p class="button">
                <button type="submit">Ilmoittaudu</button>
            </p>
        </div>
        <div class="container">
            <div class="extraLinkBar">
                <a href="/course_page/{{ course_id }}">Takaisin kurssisivulle</a>
            </div>
        </div>
    </form>
</body>

{% endblock %}