<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Opetussovellus</title>
    </head>
    <body>
        <h1>Opetussovellus</h1>
        <p>Tervetuloa opetussovellukseen!</p>

        {% if session.user_name %}
        <p>Olet kirjautunut nimellä {{ session.user_name }}</p>
        <a href="/logout">Kirjaudu ulos</a>
        <a href="/homepage">Kotisivulle</a>
        {% else %}
        <a href="/register">Rekisteröidy</a>
        <a href="/login">Kirjaudu</a>
        {% endif %}
        
        <h2>Kaikki kurssit</h2>
        {% if not list %}
        <p>Järjestelmässä ei ole vielä yhtään kurssia.</p>
        {% else %}
        {% for line in list %}
        <a href="/course_page/{{ line[0] }}">{{ line.course_name }}</a>
        <br></br>
        {% endfor %}
        {% endif %}
    </body>
</html>