{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

<body>
    <div class="flex-container">
        <div class="flex-item-left">
            <div class="sidebar">
                <ul>
                    <h3>Kaikki kurssit:</h3>
                    {% if not list %}
                    <p>Järjestelmässä ei ole vielä yhtään kurssia.</p>
                    {% else %}
                    {% for line in list %}
                    <li><a href="/course_page/{{ line[0] }}">{{ line.course_name }}</a></li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="flex-item-right">
            <div class="container">
                <h2>Tervetuloa Kurssikantaan!</h2>
                {% if session.user_id %}
                <p>Olet kirjautunut sisään nimellä {{ session.user_name }}.</p>
                {% else %}
                <p>Rekisteröidy ja kirjaudu sisään ilmoittautuaksesi kursseille.</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>

{% endblock %}