{% extends "layout.html" %}
{% block title %}Kirjaudu sisään{% endblock %}
{% block content %}

<body>
    <form action="/login" method="POST">
        <div class="container">
            <p>
                Jos sinulla on käyttäjätunnus ja salasana, voit kirjautua sisään.
            </p>
        </div>
        <div class="container">
            <p>
                <label for="username">Käyttäjätunnus:</label>
                <input type="text" id="username" name="username" maxlength="10" value="{{ username }}">
            </p>
            <p>
                <label for="password">Salasana:</label>
                <input type="password" id="password" name="password" maxlength="15" value="{{ password }}">
            </p>
            <p class="button">
                <button type="submit">Login</button>
            </p>
        </div>
        <div class="extraLinkBar">
            <a href="/">Takaisin etusivulle</a>
        </div>
    </form>
</body>

{% endblock %}