{% extends "layout.html" %}
{% block title %}Rekisteröidy käyttäjäksi{% endblock %}
{% block content %}

<body>
    <form action="/register" method="POST">
        <div class="container">
            <p>
                Luo käyttäjätili antamalla nimesi ja salasanasi. Valitse rooliksi opiskelija tai opettaja.
            </p>
        </div>
        <div class="container">
            <p>
                <label for="username">Käyttäjätunnus:</label>
            </p>
            <p>
                <input type="text" id="username" name="username" maxlength="10" value="{{ defaultName }}">
            </p>
            <p>
                <label for="password">Salasana:</label>
            </p>
            <p>
                <input type="password" id="password" name="password" maxlength="10">
            </p>
            <p>
                <label for="password_2">Salasana uudelleen:</label>
            </p>
            <p>
                <input type="password" id="password_2" name="password_2" maxlength="15">
            </p>
            <p>
                <label for="role">Oppilas</label>
                <input type="radio" checked=true name="role" value="student">
            </p>
            <p>
                <label for="role">Opettaja</label>
                <input type="radio" name="role" value="teacher">
            </p>
            <p class="button">
                <button type="submit">Rekisteröidy</button>
            </p>
        </div>
        <div class="extraLinkBar">
            <a href="/">Takaisin etusivulle</a>
        </div>
    </form>
</body>

{% endblock %}