{% extends "layout.html" %}
{% block content %}

<form action="/show_exercise/{{ course_id }}/{{ exercise_id }}/{{ exercise_type }}/{{ headline }}" method="POST">
    <body>
        <div class="subbar">
            <div class="subheadlineBox">
                <h2>{{ headline }}</h2>
            </div>
        </div>
        <div class="container">
            <h3>Kysymys:</h3>
            <p>{{ exercise.question }}</p>
            <h3>Vastaus:</h3>
            {% if exercise_type == 0 %}
            <input type="text" id="answer" name="answer" value="{{ answer }}">
            {% else %}
            <p>
                <input type="radio" checked=true name="answer" value="{{ exercise.option_a }}">
                <label for="answer">{{ exercise.option_a }}</label>
            </p>
            <p>
                <input type="radio" name="answer" value="{{ exercise.option_b }}">
                <label for="answer">{{ exercise.option_b }}</label>
            </p>
            <p>
                <input type="radio" name="answer" value="{{ exercise.option_c }}">
                <label for="answer">{{ exercise.option_c }}</label>
            </p>
            {% endif %}
            {% if owner %}
            <p>Oikea vastaus: {{ exercise.correct_answer }}</p>
            {% elif not answered %}
            <p class="button">
                <button type="submit">Lähetä vastaus</button>
            </p>
            {% else %}
            <p>Vastasit: {{ answer }}</p>
            {% if correct %}
            <div class="successbox">
                <p>Oikein!</p>
            </div>
            {% else %}
            <div class="errorbox">
                <p>Väärin, oikea vastaus: {{ exercise.correct_answer }}</p>
            </div>
            {% endif %}
            {% endif %}
        </div>
        <div class="extraLinkBar">
            <a href="/course_page/{{ course_id }}">Takaisin kurssisivulle</a>
            {% if owner %}
            <a href="/update_exercise/{{ course_id }}/{{ exercise_id }}/{{ exercise_type }}/{{ headline }}">Muokkaa tehtävää</a>
            <a href="/delete_exercise/{{ course_id }}/{{ exercise_id }}">Poista tehtävä</a>
            {% endif %}
        </div>
    </body>
</form>

{% endblock %}