{% extends "layout.html" %}
{% block title %}Tehtäväsivu{% endblock %}
{% block content %}

<body>
    <form action="/show_exercise/{{ course_id }}/{{ exercise_id }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

        <div class="container">
            <h2>{{ exercise.headline }}</h2>
            <h3>Kysymys:</h3>
            <p>{{ exercise.question }}</p>
            <h3>Vastaus:</h3>
            {% if owner or answered %}
            {% if exercise.type == 1 %}
            <p>Vastausvaihtoehdot:</p>
            <p>a: {{ exercise.option_a }}</p>
            <p>b: {{ exercise.option_b }}</p>
            <p>c: {{ exercise.option_c }}</p>
            {% endif %}
            <p>Oikea vastaus: {{ exercise.correct_answer }}</p>
            {% if answered %}
            <p>Vastasit: {{ answer }}</p>
            {% if correct %}
            <div class="successbox">
                <p>Oikein!</p>
            </div>
            {% else %}
            <div class="errorbox">
                <p>Vastauksesi oli väärin.</p>
            </div>
            {% endif %}
            {% endif %}
            {% else %}
            {% if exercise.type == 0 %}
            <input type="text" id="answer" name="answer" value="{{ answer }}">
            {% else %}
            <p>
                <input type="radio" checked=true name="answer" value="{{ exercise.option_a }}">
                <label for="answer">{{ exercise.option_a }}</label>
            </p>
            <p>
                <input type="radio" name="answer" value="{{ exercise.option_b }}">
                <label for="answer">{{ exercise.option_b }}</label>
            </p>
            <p>
                <input type="radio" name="answer" value="{{ exercise.option_c }}">
                <label for="answer">{{ exercise.option_c }}</label>
            </p>
            {% endif %}
            <p class="button">
                <button type="submit">Lähetä vastaus</button>
            </p>
            {% endif %}
        </div>
        <div class="container">
            <div class="extraLinkBar">
                <a href="/course_page/{{ course_id }}">Takaisin kurssisivulle</a>
                {% if owner %}
                {% if exercise.type == 0 %}
                <a href="/update_exercise_text/{{ course_id }}/{{ exercise_id }}">Muokkaa tehtävää</a>
                {% else %}
                <a href="/update_exercise_mchoice/{{ course_id }}/{{ exercise_id }}">Muokkaa tehtävää</a>
                {% endif %}
                <a href="/delete_exercise/{{ course_id }}/{{ exercise_id }}">Poista tehtävä</a>
                {% endif %}
            </div>
        </div>
    </form>
</body>

{% endblock %}