{% extends "layout.html" %}
{% block title %}Muokkaa tehtävää{% endblock %}
{% block content %}

<body>
    <form action="/update_exercise_text/{{ course_id }}/{{ exercise_id }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

        <div class="container">
            <p><b>HUOM.</b> Oikean vastauksen muuttaminen ei vaikuta jo annettujen vastausten statukseen.</p>
            <p>
                <label for="headline">Otsikko:</label>
            </p>
            <p>
                <input type="text" id="headline" name="headline" maxlength="20" value="{{ headline }}">
            </p>
            <p>
                <label for="question">Tehtäväkysymys:</label>
            </p>
            <p>
                <textarea type="text" id="question" name="question" maxlength="500" rows="10"
                    cols="50">{{ question }}</textarea>
            </p>
            <p>
                <label for="answer">Oikea vastaus:</label>
            </p>
            <p>
                <input type="text" id="answer" name="answer" maxlength="40" value="{{ answer }}">
            </p>
            <p class="button">
                <button type="submit">Tallenna muutokset</button>
            </p>
        </div>
        <div class="container">
            <div class="extraLinkBar">
                <a href="/show_exercise/{{ course_id }}/{{ exercise_id }}">Takaisin</a>
            </div>
        </div>
    </form>
</body>

{% endblock %}