{% extends "layout.html" %}
{% block title %}Muokkaa tehtävää{% endblock %}
{% block content %}
<form action="/update_exercise/{{ course_id }}/{{ exercise_id }}/{{ exercise_type }}/{{ headline }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <body>
        <div class="container">
            <p>
                <label for="headline">Otsikko:</label>
                <input type="text" id="headline" name="headline" value="{{ headline }}">
            </p>
            <p>
                <label for="question">Tehtäväkysymys:</label>
                <input type="text" id="question" name="question" value="{{ question }}">
            </p>
            <p>
                <label for="answer">Oikea vastaus:</label>
                <input type="text" id="answer" name="answer" value="{{ answer }}">
            </p>
            <p class="button">
                <button type="submit">Tallenna muutokset</button>
            </p>
        </div>
        <div class="extraLinkBar">
            <a href="/show_exercise/{{ course_id }}/{{ exercise_id }}/{{ exercise_type }}/{{ headline }}">Takaisin</a>
        </div>
    </body>
</form>

{% endblock %}