{% extends "layout.html" %}
{% block title %}Päivitä kurssitietoja{% endblock %}
{% block content %}
<form action="/update_course/{{ course_id }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <body>
        <div class="container">
            <p>
                Muokkaa kurssisi tietoja:
            </p>
            <input type="hidden" id="course_id" name="course_id" value="{{ course_id }}">
            <p>
                <label for="course_name">Kurssin nimi:</label>
                <input type="text" id="course_name" name="course_name" value="{{ course_name }}">
            </p>
            <p>
                <label for="description">Kurssikuvaus:</label>
                <textarea id="description" name="description">{{ description }}</textarea>
            </p>
            <p class="button">
                <button type="submit">Päivitä</button>
            </p>
        </div>
        <div class="extraLinkBar">
            <a href="/course_page/{{ course_id }}">Takaisin kurssisivulle</a>
        </div>
    </body>
</form>

{% endblock %}