{% extends "layout.html" %}
{% block title %}Muokkaa tehtävää{% endblock %}
{% block content %}

<body>
    <form action="/update_exercise_mchoice/{{ course_id }}/{{ exercise_id }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <div class="container">
            <p>
                <label for="headline">Otsikko:</label>
                <input type="text" id="headline" name="headline" maxlength="20" value="{{ headline }}">
            </p>
            <p>
                <label for="question">Tehtäväkysymys:</label>
            </p>
            <p>
                <textarea type="text" id="question" name="question" maxlength="500" rows="10"
                    cols="50">{{ question }}</textarea>
            </p>
            <p>
                <label for="option_a">a:</label>
            </p>
            <p>
                <textarea type="text" id="option_a" name="option_a" maxlength="200" rows="5"
                    cols="30">{{ a }}</textarea>
            </p>
            <p>
                <label for="option_b">b:</label>
                <textarea type="text" id="option_b" name="option_b" maxlength="200" rows="5"
                    cols="30">{{ b }}</textarea>
            </p>
            <p>
                <label for="option_c">c:</label>
                <textarea type="text" id="option_c" name="option_c" maxlength="200" rows="5"
                    cols="30">{{ c }}</textarea>
            </p>
            <p>
                Oikea vastaus:
            </p>
            <p>
                <input type="radio" checked=true name="answer" value="a">
                <label for="answer">a</label>
            </p>
            <p>
                <input type="radio" name="answer" value="b">
                <label for="answer">b</label>
            </p>
            <p>
                <input type="radio" name="answer" value="c">
                <label for="answer">c</label>
            </p>
            <p class="button">
                <button type="submit">Tallenna muutokset</button>
            </p>
        </div>
        <div class="container">
            <div class="extraLinkBar">
                <a href="/show_exercise/{{ course_id }}/{{ exercise_id }}">Takaisin</a>
            </div>
        </div>
    </form>
</body>

{% endblock %}