{% extends "layout.html" %}
{% block title %}Käyttäjätiedot{% endblock %}
{% block content %}

<body>
    <form action="/userinfo" method="POST">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <div class="container">
            {% if session.user_role == 'student' %}
            <p>Täydennä tietosi, jotta voit ilmoittautua kursseille:</p>
            {% else %}
            <p> Täydennä tietosi, jotta voit kirjata kursseja järjestelmään:</p>
            {% endif %}
            <p>
                <label for="firstname">Etunimi:</label>
                <input type="text" id="firstname" name="firstname" maxlength="20" value="{{ default_firstname }}">
            </p>
            <p>
                <label for="lastname">Sukunimi:</label>
                <input type="text" id="lastname" name="lastname" maxlength="20" value="{{ default_lastname}}">
            </p>
            {% if session.user_role == 'student' %}
            <p>
                <label for="student_number">Opiskelijanumero:</label>
                <input type="text" id="student_number" name="student_number" maxlength="15"
                    value="{{ default_studentnr }}">
            </p>
            {% endif %}
            <p class="button">
                <button type="submit">Tallenna</button>
            </p>
        </div>
        <div class="container">
            <div class="extraLinkBar">
                <a href="/homepage">Takaisin kotisivulle</a>
            </div>
        </div>
    </form>
</body>

{% endblock %}