<form action="/login" method="POST">
    <head></head>
    <body>
        <h2>Kirjaudu sisään</h2>
        <p>
            Jos sinulla on käyttäjätunnus ja salasana, voit kirjautua sisään.
        </p>
        <p>
            <label for="username">Käyttäjätunnus:</label>
            <input type="text" id="username" name="username">
        </p>
        <p>
            <label for="password">Salasana:</label>
            <input type="text" id="password" name="password">
        </p>
        <p class="button">
            <button type="submit">Login</button>
        </p>
        <a href="/">Takaisin etusivulle</a>
    </body>
</form>